.container-main {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-add {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  color: #191919;
  font-size: 36px;
  line-height: 40px;
  @extend %dmsans-700;
}

body {
  color: $default-color;
  @extend %rubick-400;
  font-size: 14px;
  line-height: 24px;
}

a{
  text-decoration: none;
  color: $default-color;
}


