@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding-top: 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    &-item {
      text-decoration: none;
      color: #436372;
      @extend %rubick-500
    }
    &-item + .menu__list-item {
      padding-left: 35px;
    }
  }
}

.user-nav {
  display: flex;
  .user-btn {
    padding-left: 25px;
  }
  &__wrapper {
    display: flex;
    width: 210px;
    background-image: url(../images/icon/iconbg.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 33px;
      background-color: #fff;
      right: 88px;
      top: 10px;
    }
  }
  .user-cart {
    padding-left: 60px;
    padding-top: 17px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 18px;
    }
  }
  .user-fav {
    padding-top: 17px;
    padding-left: 70px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 18px;
    }
  }
}

.footer {
  padding: 75px 0;
  &-logo {
    margin-bottom: 30px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $default-color;
    padding-bottom: 75px;
    &__item {
    list-style: none;
    }
    &__address {
      width: 185px;
    }
    &__item a {
      display: block;
      line-height: 32px;
    }
    &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 30px;
    padding-top: 25px;
    }
    &__text {
      width: 230px;
      margin-bottom: 40px;
    }
    &__input {
      width: 170px;
      background-color: #fef7f0;
      border: none;
      padding: 15px 0px 15px 20px;
      @extend %dmsans-400;
      line-height: 21px;
    }
    &__form-btn{
      background-color: #a3bbc8;
      color: #fff;
      border: none;
      @extend %dmsans-400;
      line-height: 21px;
      padding: 5px 19px;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
      &__nav-link {
        padding: 0 15px;
    }
      &__nav-link + .footer-bottom__nav-link {
        border-left: 1px solid $default-color;
    }
  }
}

.top-slider{
  margin-top: 50px;
  &__inner {
    background-image: url(../images/slider/top-slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65px;
  }
  &__item .container-main {
    display: flex;
  }
  &__title {
    margin: 220px 0 35px;
    @extend %rubick-500;
    font-size: 72px;
    line-height: 70px;
    width: 420px;
    color: #243f4d;
  }
  &__text {
    width: 370px;
    @extend %rubick-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__btn button {
    @extend %rubick-500;
    font-size: 15px;
    line-height: 12px;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 20px 100px 20px 30px;
  }
  &__btn {
    position: relative;
  }
  &__btn::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 9px;
    background-image: url(../images/slider/arrow.png);
    top: 5px;
    left: 160px;
  }
  &__image {
    margin: 100px 0 0 120px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    & button {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fde3cc;
    font-size: 11px;
    @extend %rubick-500;
    line-height: 9px;
    color: #708088;
    margin-left: 15px;
    }
    & .slick-active button {
      background-color: #fff;
    }
  }
}
.products {
  &__info {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
    background-color: #fef7f0;
    
    &-text {
      font-size: 16px;
      line-height: 30px;
      @extend %dmsans-400;
    }
  }
  &-support {
    position: relative;
    max-width: 199px;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/products/support-icon.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      top: 12px;
      left: -75px;
    }
  }
  &-delivery {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/products/delivery-icon.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 35px;
      top: 12px;
      left: -75px;
    }
  }
  &-payment {
    max-width: 199px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/products/payment-icon.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      top: 12px;
      left: -75px;
    }
  }
}
.products {
  padding-bottom: 180px;
  &-first img,
  &-second img{
    padding-top: 30px;
  }
  &-third img{
    padding-top: 60px;
  }
  &-fourth img{
    padding-top: 75px;
  }
  &-fifth img{
    padding-top: 50px;
  }
  &-sixth img{
    padding-top: 45px;
  }
  &-seventh img {
    padding-top: 50px;
  }
  &-eighth img{
    padding-top: 55px;
  }
  &-title {
    margin: 75px auto 35px;
    
  }
  &__menu {
    max-width: 370px;
    margin: 0 auto 80px;
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;
  }
  &__menu-link button {
    @extend %dmsans-700;
    font-size: 16px;
    border: none;
    outline: transparent;
    background-color: transparent;
    color: $default-color;
    &:active {
      color: #1a1a1a;
    }
  }
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    & img:nth-child(5) {
      margin-top: 40px;
    }
    &-item {
      min-height: 370px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 6px 6px 50px rgba(240, 240, 240, 1);
      position: relative;
      background-color: #fdfcfc;
    }
    &-title {
      margin-top: auto;
      @extend %dmsans-700;
      line-height: 40px;
      color: #243f4d;
    }
    &-price {
      @extend %dmsans-400;
      font-size: 16px;
      color: #a3bbc8;
      padding-bottom: 40px;
    }
  }
}

.products-gallery__link {
  position: relative;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 54px;
  & + .products-gallery__link {
    margin-left: 15px;
  }
}

.products-gallery__link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.design {
  &-top {
    display: flex;
    justify-content: center;
  }
  &-top__item {
    background-color: #feefe2;
    max-width: 870px;
    margin-bottom: 105px;
    padding: 100px 150px 100px 400px;
    &-title {
      width: 240px;
      @extend %dmsans-700;
      font-size: 26px;
      line-height: 32px;
      color: #243f4d;
      margin-bottom: 25px;
    }
    &-text {
      max-width: 330px;
      font-size: 16px;
      line-height: 30px;
      color: #436372;
    }
    &-btn button {
      background-color: #feefe2;
      border: 1px solid #436372;
      border-radius: 5px;
      color: #436372;
      padding: 20px 85px 20px 25px;
      margin-top: 30px;
      @extend %rubick-500;
      font-weight: 700;
      font-size: 15px;
      line-height: 12px;
    }
    &-btn {
      position: relative;
    }
    &-btn::before {
      position: absolute;
      content: '';
      background-image: url(../images/design/arrow.png);
      background-repeat: no-repeat;
      width: 23px;
      height: 10px;
      top: 4px;
      right: 20px;
    }
  }
  &-top__item + .design-top__item {
    margin-left: 30px;
  }
  &-left::before,
  &-right::before{
    position: absolute;
    content: '';    
  }
  &-left {
    position: relative;
  }
  &-left::before {
    background-image: url(../images/design/design-top-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 235px;
    height: 415px;
    top: -190px;
    left: -255px;
  }
  &-right {
    position: relative;
  }
  &-right::before {
    background-image: url(../images/design/design-top-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 220px;
    height: 415px;
    top: -180px;
    left: -280px;
  }
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    margin-bottom: 120px;
    &-item {
      width: 370px;
      height: 245px;
    }
    &-title {
      width: 205px;
      padding: 40px 0 20px 35px;
      @extend %dmsans-700;
      font-size: 20px;
      color: #1a1a1a;
    }
    &-text {
      padding-left: 35px;
      @extend %dmsans-700;
      font-size: 16px;
      color: #a9bfcb;
    }
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url(../images/video-bg.jpg);
  margin-bottom: 115px;
}

.articles {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    &__link {
      @extend %dmsans-700;
      font-size: 16px;
      color: $title-color;
      position: relative;
      padding-right: 20px;
      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 11px;
        background-image: url(../images/articles/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 0;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    background-color: #fff;
  }
  &__text {
    @extend %dmsans-400;
    font-weight: 500;
    font-size: 18px;
    color: #262626;
    padding: 30px 30px 0px;
    margin-bottom: 20px;
  }
  &__footer {
    padding: 20px 30px 25px;
    font-size: 12px;
    color: #262626;
    font-weight: 500;
    border-top:  1px solid #e0e0e0;
  }
  &__author {
    padding-left: 45px;
  }
  &__item-img {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/articles/NEWS.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 105px;
      height: 30px;
      bottom: -15px;
      left: 30px;
    }
  }
}

.partners {
  background-color: #fef7f0;
  margin-top: -192px;
  padding: 285px 0 85px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@import 'media';