@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding-top: 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    &-item {
      text-decoration: none;
      color: #436372;
      @extend %rubick-500
    }
    &-item + .menu__list-item {
      padding-left: 35px;
    }
  }
}

.user-nav {
  display: flex;
  .user-btn {
    padding-left: 75px;
  }
  .user-cart {
    padding-left: 60px;
    padding-top: 17px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
    }
  }
  .user-fav {
    padding-top: 17px;
    padding-left: 80px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
    }
  }
}

.footer {
  padding: 75px 0;
  &-logo {
    margin-bottom: 30px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $default-color;
    padding-bottom: 75px;
    &__item {
    list-style: none;
    }
    &__address {
      width: 185px;
    }
    &__item a {
      display: block;
      line-height: 32px;
    }
    &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 30px;
    padding-top: 25px;
    }
    &__text {
      width: 230px;
      margin-bottom: 40px;
    }
    &__input {
      width: 170px;
      background-color: #fef7f0;
      border: none;
      padding: 15px 0px 15px 20px;
      @extend %dmsans-400;
      line-height: 21px;
    }
    &__form-btn{
      background-color: #a3bbc8;
      color: #fff;
      border: none;
      @extend %dmsans-400;
      line-height: 21px;
      padding: 15px 19px;
    }
  }
  &-bottom {
    padding: 35px 0;
  }
}





@import 'media';