@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding-top: 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    &-item {
      text-decoration: none;
      color: #436372;
      @extend %rubick-500
    }
    &-item + .menu__list-item {
      padding-left: 35px;
    }
  }
}

.user-nav {
  display: flex;
  .user-btn {
    padding-left: 25px;
  }
  &__wrapper {
    display: flex;
    width: 210px;
    background-image: url(../images/icon/iconbg.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 33px;
      background-color: #fff;
      right: 88px;
      top: 10px;
    }
  }
  .user-cart {
    padding-left: 60px;
    padding-top: 17px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 18px;
    }
  }
  .user-fav {
    padding-top: 17px;
    padding-left: 70px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 18px;
    }
  }
}

.top {
  margin-top: 45px;
  padding: 30px 0;
  background-color: #edf1f4;
  text-align: center;
  &__title {
    @extend %rubick-400;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 20px;
  }
}


.footer {
  padding: 75px 0;
  &-logo {
    margin-bottom: 30px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $default-color;
    padding-bottom: 75px;
    &__item {
    list-style: none;
    }
    &__address {
      width: 185px;
    }
    &__item a {
      display: block;
      line-height: 32px;
    }
    &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 30px;
    padding-top: 25px;
    }
    &__text {
      width: 230px;
      margin-bottom: 40px;
    }
    &__input {
      width: 170px;
      background-color: #fef7f0;
      border: none;
      padding: 15px 0px 15px 20px;
      @extend %dmsans-400;
      line-height: 21px;
    }
    &__form-btn{
      background-color: #a3bbc8;
      color: #fff;
      border: none;
      @extend %dmsans-400;
      line-height: 21px;
      padding: 5px 19px;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
      &__nav-link {
        padding: 0 15px;
    }
      &__nav-link + .footer-bottom__nav-link {
        border-left: 1px solid $default-color;
    }
  }
}

.top-slider{
  margin-top: 50px;
  &__inner {
    background-image: url(../images/slider/top-slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65px;
  }
  &__item .container-main {
    display: flex;
  }
  &__title {
    margin: 220px 0 35px;
    @extend %rubick-500;
    font-size: 72px;
    line-height: 70px;
    width: 420px;
    color: #243f4d;
  }
  &__text {
    width: 370px;
    @extend %rubick-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__btn button {
    @extend %rubick-500;
    font-size: 15px;
    line-height: 12px;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 20px 100px 20px 30px;
  }
  &__btn {
    position: relative;
  }
  &__btn::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 9px;
    background-image: url(../images/slider/arrow.png);
    top: 5px;
    left: 160px;
  }
  &__image {
    margin: 100px 0 0 120px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    & button {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fde3cc;
    font-size: 11px;
    @extend %rubick-500;
    line-height: 9px;
    color: #708088;
    margin-left: 15px;
    }
    & .slick-active button {
      background-color: #fff;
    }
  }
}
.products {
  &__info {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
    background-color: #fef7f0;
    
    &-text {
      font-size: 16px;
      line-height: 30px;
      @extend %dmsans-400;
    }
  }
  &-support {
    position: relative;
    max-width: 199px;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/products/support-icon.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      top: 12px;
      left: -75px;
    }
  }
  &-delivery {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/products/delivery-icon.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 35px;
      top: 12px;
      left: -75px;
    }
  }
  &-payment {
    max-width: 199px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/products/payment-icon.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      top: 12px;
      left: -75px;
    }
  }
}
.products {
  padding-bottom: 180px;
  &-first img,
  &-second img{
    padding-top: 30px;
  }
  &-third img{
    padding-top: 60px;
  }
  &-fourth img{
    padding-top: 75px;
  }
  &-fifth img{
    padding-top: 50px;
  }
  &-sixth img{
    padding-top: 45px;
  }
  &-seventh img {
    padding-top: 50px;
  }
  &-eighth img{
    padding-top: 55px;
  }
  &-title {
    margin: 75px auto 35px;
    
  }
  &__menu {
    max-width: 370px;
    margin: 0 auto 80px;
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;
  }
  &__menu-link button {
    @extend %dmsans-700;
    font-size: 16px;
    border: none;
    outline: transparent;
    background-color: transparent;
    color: $default-color;
    &:active {
      color: #1a1a1a;
    }
  }
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    & img:nth-child(5) {
      margin-top: 40px;
    }
    &-item {
      min-height: 370px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 6px 6px 50px rgba(240, 240, 240, 1);
      background-color: #fdfcfc;
      &:hover {
        .products-gallery__link-box {
          opacity: 1;
        }
      }
    }
    &-title {
      margin-top: auto;
      @extend %dmsans-700;
      line-height: 40px;
      color: #243f4d;
    }
    &-price {
      @extend %dmsans-400;
      font-size: 16px;
      color: #a3bbc8;
      padding-bottom: 40px;
    }
  }
}

.products-gallery__link {
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
  transition: all .3s;
  & + .products-gallery__link {
    margin-left: 15px;
  }
}

.products-gallery__link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100px);
  transition: all .3s;
  opacity: 0;
}

.products-gallery__link-search:hover {
  cursor: pointer;
  background-color: #a3bbc8;
  svg path {
  fill: rgb(255, 255, 255);
  }
}

.products-gallery__link-cart:hover {
  cursor: pointer;
  background-color: #a3bbc8;
  svg path {
  fill: rgb(255, 255, 255);
  }
}

.products-gallery__link-heart:hover {
  cursor: pointer;
  background-color: #a3bbc8;
  svg path {
  fill: rgb(255, 255, 255);
  }
}

.design {
  &-top {
    display: flex;
    justify-content: center;
  }
  &-top__item {
    background-color: #feefe2;
    max-width: 870px;
    margin-bottom: 105px;
    padding: 100px 150px 100px 400px;
    &-title {
      width: 240px;
      @extend %dmsans-700;
      font-size: 26px;
      line-height: 32px;
      color: #243f4d;
      margin-bottom: 25px;
    }
    &-text {
      max-width: 330px;
      font-size: 16px;
      line-height: 30px;
      color: #436372;
    }
    &-btn button {
      background-color: #feefe2;
      border: 1px solid #436372;
      border-radius: 5px;
      color: #436372;
      padding: 20px 85px 20px 25px;
      margin-top: 30px;
      @extend %rubick-500;
      font-weight: 700;
      font-size: 15px;
      line-height: 12px;
    }
    &-btn {
      position: relative;
    }
    &-btn::before {
      position: absolute;
      content: '';
      background-image: url(../images/design/arrow.png);
      background-repeat: no-repeat;
      width: 23px;
      height: 10px;
      top: 4px;
      right: 20px;
    }
  }
  &-top__item + .design-top__item {
    margin-left: 30px;
  }
  &-left::before,
  &-right::before{
    position: absolute;
    content: '';    
  }
  &-left {
    position: relative;
  }
  &-left::before {
    background-image: url(../images/design/design-top-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 235px;
    height: 415px;
    top: -190px;
    left: -255px;
  }
  &-right {
    position: relative;
  }
  &-right::before {
    background-image: url(../images/design/design-top-right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 220px;
    height: 415px;
    top: -180px;
    left: -280px;
  }
  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    margin-bottom: 120px;
    &-item {
      width: 370px;
      height: 245px;
    }
    &-title {
      width: 205px;
      padding: 40px 0 20px 35px;
      @extend %dmsans-700;
      font-size: 20px;
      color: #1a1a1a;
    }
    &-text {
      padding-left: 35px;
      @extend %dmsans-700;
      font-size: 16px;
      color: #a9bfcb;
    }
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url(../images/video-bg.jpg);
  margin-bottom: 115px;
}

.articles {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    &__link {
      @extend %dmsans-700;
      font-size: 16px;
      color: $title-color;
      position: relative;
      padding-right: 20px;
      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 11px;
        background-image: url(../images/articles/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 0;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    background-color: #fff;
  }
  &__text {
    @extend %dmsans-400;
    font-weight: 500;
    font-size: 18px;
    color: #262626;
    padding: 30px 30px 0px;
    margin-bottom: 20px;
  }
  &__footer {
    padding: 20px 30px 25px;
    font-size: 12px;
    color: #262626;
    font-weight: 500;
    border-top:  1px solid #e0e0e0;
  }
  &__author {
    padding-left: 45px;
  }
  &__item-img {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/articles/NEWS.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 105px;
      height: 30px;
      bottom: -15px;
      left: 30px;
    }
  }
}

.partners {
  background-color: #fef7f0;
  margin-top: -192px;
  padding: 285px 0 85px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.modal {
  padding: 120px 0;
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    color: $accent-color;
    margin-bottom: 30px;
    font-weight: 600;
    &-register {
      margin: 35px 0 25px;
      color: $accent-color;
      @extend %rubick-500;
      font-weight: 600;
    }
  }
  &__input,
  &__btn-login,
  &__btn-register {
    display: block;
    margin-top: 15px;
    width: 470px;
    height: 60px;
  }
  &__input {
    border: 2px solid #f6f6f6;
  }
  &__help{
    width: 470px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #f6f6f6;
    &-link {
      color: $accent-color;
      @extend %rubick-500;
      font-weight: 600;
    }
  }
  &__btn-login {
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    @extend %rubick-500;
    margin-bottom: 35px;
  }
  &__btn-register {
    border: 2px solid #a3bbc8;
    color: $accent-color;
    font-size: 18px;
    font-weight: 600;
    @extend %rubick-500;
    background-color: #fff;
  }
}

.terms {
  padding: 120px 0;
  color: #243f4d;
  &__title {
    @extend %rubick-500;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__content-list {
    margin-bottom: 75px;
    list-style: decimal-leading-zero;
    list-style-position: inside;
  }
  &__content-text {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
  }
  &__text {
    margin-bottom: 75px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about {
  padding: 120px 0;
  color: #243f4d;
  &__title {
    margin: 50px 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    padding: 85px 0 100px 45px;
    &-intro {
      display: flex;
      align-items: flex-end;
    }
    &-subtitle {
      font-size: 16px;
      line-height: 30px;
      padding-left: 30px;
    }
    &-text {
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 65px;
    }
    &-items {
      display: flex;
      justify-content: space-around;
      padding-top: 40px;
      border-top: 2px solid #f6f6f6;
    }
    &-projects,
    &-revenue,
    &-awards {
      position: relative;
    }
    &-projects::before {
      position: absolute;
      content: '';
      background-image: url(../images/about/project-icon.svg);
      width: 36px;
      height: 38px;
      top: 0;
      left: -56px;
    }
    &-revenue::before {
      position: absolute;
      content: '';
      background-image: url(../images/about/revenue-icon.svg);
      width: 43px;
      height: 39px;
      top: 0;
      left: -63px;
    }
    &-awards::before {
      position: absolute;
      content: '';
      background-image: url(../images/about/award-icon.svg);
      width: 42px;
      height: 40px;
      top: 0;
      left: -62px;
    }
    &-type {
      color: #4c4c4c;
    }
  }
  &__statistics {
    background-color: #fcd7b6;
    padding: 85px 0;
    &-inner {
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 150px;
    }
    &-title {
      @extend %dmsans-700;
      font-size: 36px;
      line-height: 32px;
      color: $title-color;
    }
    &-text {@extend %dmsans-700;
      font-size: 18px;
      line-height: 32px;
      color: $title-color;}
  }
}

.team {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
  &__intro {
    max-width: 300px;
    width: 100%;
    margin-right: 100px;
    &-text {
      margin-bottom: 75px;
    }
    &-btn {
      border: none;
      background-color: #a3bbc8;
      color: #fff;
      font-weight: 700;
      line-height: 55px;
      font-size: 15px;
      padding: 20px 60px 20px 15px;
      border-radius: 7px;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background-image: url(../images/about/arrow.svg);
        width: 15px;
        height: 11px;
        top: 23px;
        right: 25px;
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    text-align: left;
  }
  &__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px 30px;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    &-name {
      @extend %dmsans-700;
      font-size: 22px;
      line-height: 26px;
      color: $title-color;
      color: $accent-color;
    }
    &-position {
      font-size: 16px;
      line-height: 30px;
    }
    &-link {
    line-height: 52px;
    text-align: center;
    border-radius: 50%;
    background-color: #f6f6f6;
    width: 42px;
    height: 42px;
    margin: 0 5px;
    display: inline-block;
    }
  }
  &__item-image {
    z-index: 1;
    position: relative;
  }
  &__item-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    max-width: 325px;
    background-color: #fff;
    margin-top: -50px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    z-index: 5;
  }
}

.shop {
  padding: 120px 0;
  &__inner {
    display: flex;
  }
  &-products__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 30px;
  }
}

.shop-products {
  &__item {
    display: flex;
  }
  &__info {
    margin-left: 30px;
    padding: 90px 0px 80px 20px;
    color: #243f4d;
  }
  &__buttons {
    display: flex;
  }
  &__btn button {
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-top: 40px;
    cursor: pointer;
  }
  &__btn:hover {
    button {
      background-color: #a3bac7;
    }
    path {
      fill: #fff;
    }
  }
  &__fav {
    margin-left: 10px;
  }
  &__title {
    font-size: 40px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  &__price {
    font-size: 30px;
    line-height: 45px;
    margin: 30px 0;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
  }
  &__img {
    max-width: 370px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    margin-bottom: 40px;
  }
}


.filter {
  max-width: 270px;
  width: 100%;
  margin-right: 30px;
  &-title {
    display: inline-block;
    @extend %dmsans-700;
    text-transform: uppercase;
    font-size: 18px;
    color: #243f4d;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 38px;
      height: 2px;
      background-color: #a3bbc8;
      top: 10px;
      right: -58px;
    }
  }
  &-category {
    margin-bottom: 70px;
    &__label {
      display: block;
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-category__checkbox {
        background-color: #edf1f4;
      }
    }
    &__checkbox {
      width: 270px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-radius: 5px;
      margin-bottom: 2px;
      color: #506571;
      font-size: 16px;
      line-height: 43px;
      font-weight: 700;
    }
  }
  &-brand {
    margin-bottom: 70px;
    &__label {
      display: block;
    }
    &__input {
      @extend %checkbox-hidden;
      &:checked + .filter-brand__checkbox {
        background-color: #edf1f4;
      }
    }
    &__checkbox {
      width: 270px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-radius: 5px;
      margin-bottom: 2px;
      color: #506571;
      font-size: 16px;
      line-height: 43px;
      font-weight: 700;
    }
  }
}

.filter-price {
  margin-bottom: 70px;
  &__label {
    display: flex;
    justify-content: space-between;
  }
}

.irs--flat .irs-line {
  top: 16px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 15px;
  height: 5px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle {
  top: 10px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.recent-product__item {
  display: flex;
  align-items: center;
  &-wrapper {
    display: block;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.recent-product__info {
  margin-left: 20px;
}

.recent-product__title {
  color: #333;
  font-weight: 600;
}

.recent-product__price {
  color: #333;
  flex: 15;
}

.star {
  padding: 8px 0;
}

.pagination {
  max-width: 270px;
  display: flex;
  justify-content: space-between;
  margin: 110px auto 0px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__link {
    padding: 20px;
    border: 1px solid #a3bbc8;
    margin-left: 15px;
    color: #243f4d;
  }
  &__next {
    padding: 16px 20px;
    border: 1px solid #a3bbc8;
    margin-left: 15px;
    color: #243f4d;
  }
  &__link:hover, 
  &__next:hover {
    background-color: #a3bbc8;
    color: #fff;
  }
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
}

.details {
  padding: 120px 0;
  &__inner {
    display: flex;
    margin-bottom: 100px;
  }
  &-slider {
    display: flex;
    &__additional {
      &-item {
        border: 1px solid #cecece;
        margin-bottom: 25px;
      }
      &-img {
        width: 140px;
        height: 160px;
        object-fit: contain;
      }
    }
    &__main {
      border: 1px solid #cecece;
      margin-left: 25px;
      padding: 60px 80px;
      margin-bottom: 25px;
      &-img {
        width: 233px;
        height: 405px;
        object-fit: contain;
      }
    }
  }
  &-item {
    max-width: 535px;
    padding: 30px 0;
    margin-left: 70px;
    &__title {
      font-size: 40px;
      line-height: 26px;
      color: $title-color;
      margin-bottom: 20px;
    }
    &__price {
      font-size: 30px;
      line-height: 45px;
      color: $title-color;
      margin-bottom: 25px;
    }
    &__text {
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
      margin-bottom: 25px;
    }
    &__input {
      width: 150px;
      height: 50px;
    }
    &__btn {
      padding: 12px 55px;
      border: none;
      border-radius: 5px;
      background-color: #a3bbc8;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 30px;
      cursor: pointer;
      margin-top: 1px;
      margin-left: 15px;
    }
    &__cart {
      margin-bottom: 50px;
    }
    &__info {
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
    }
  }
  &-tabs {
    &__top {
      display: flex;
      justify-content: center;
      margin-bottom: 35px;
      a + a {
      margin-left: 15px;
      }
      &-item {
        @extend %btn;
        &--active {
          @extend %btn-active;
        }
      }
    }
    &__content-item {
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
      display: none;
      &--active {
        display: block;
      }
    }
  }
}

.jq-number {
  position: relative;
  vertical-align: 0;
  padding: 0;
  &__field {
    width: 150px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 50px;
      background-color: #a3bbc8;
      top: 0;
      left: 50px;
    }
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 50px;
      background-color: #a3bbc8;
      top: 0;
      right: 50px;
    }
    input {
      text-align: center;
      font-size: 15px;
      line-height: 45px;
    }
  }
  &__spin {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    user-select: none;
    text-shadow: none;
    color: $title-color;
    cursor: pointer;
    &.plus::after {
      content: '+';
      top: 14px;
      left: 1px;
      font-size: 20px;
      border: none;
    }
    &.minus::after {
      content: '-';
      top: -23px;
      left: -94px;
      font-size: 20px;
      border: none;
    }
    &:hover {
      background: transparent;
    }
    &:active {
      box-shadow: none;
    }
  }
}

.related {

}










@import 'media';