.header {
  padding-top: 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    &-item {
      text-decoration: none;
      color: #436372;
      @extend %rubick-500
    }
    &-item + .menu__list-item {
      padding-left: 35px;
    }
  }
  &__btn {
    display: none;
    position: relative;
    border: none;
    width: 20px;
    height: 3px;
    background-color: #a3bbc8;
    padding: 0;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 3px;
      background-color: #a3bbc8;
      left: 0;
    }
    &::before {
      top: -8px;
    }&::after {
      top: 8px;
    }
  }
}

.user-nav {
  display: flex;
  .user-btn {
    padding-left: 25px;
  }
  &__wrapper {
    display: flex;
    width: 210px;
    background-image: url(../images/icon/iconbg.png);
    background-repeat: no-repeat;
    background-position-x: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 33px;
      background-color: #fff;
      right: 88px;
      top: 10px;
    }
  }
  .user-cart {
    padding-left: 60px;
    padding-top: 17px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 18px;
    }
  }
  .user-fav {
    padding-top: 17px;
    padding-left: 70px;
    position: relative;
    & span {
      position: absolute;
      content: '';
      top: 10px;
      right: -10px;
      text-decoration: none;
      color: #000;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 18px;
    }
  }
}

@media (max-width: 1100px){
  .menu {
    display: none;
    &__btn {
      display: block;
      order: 1;
    }
  }
}

@media (max-width: 600px){
  .menu {
    &__btn {
      order: 0;
    }
  }
  .header__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .user-nav {
    transform: scale(.65);
    margin-top: 20px;
  }
}

@media(max-width: 400px){
  .user-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    background-image: url(../images/icon/iconbg.png);
    background-repeat: no-repeat;
    background-position-x: 14px;
    background-size: contain;
    position: relative;
    margin-left: 10px;
    &::before {
      right: 90px;
      top: 10px;
    }
  }
  .user-nav .user-fav {
    padding-left: 55px;
    padding-top: 19px;
  }
  .user-nav .user-cart {
    padding-left: 70px;
    padding-top: 19px;
  }
}

@media (max-width: 320px){
  .user-nav__wrapper::before {
    right: 72px;
    top: 7px;
  }
  .user-nav .user-fav {
    padding-left: 45px;
    padding-top: 17px;
  }
  .user-nav .user-cart {
    padding-left: 55px;
    padding-top: 17px;
  }
}