.modal {
  padding: 120px 0;
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    color: $accent-color;
    margin-bottom: 30px;
    font-weight: 600;
    &-register {
      margin: 35px 0 25px;
      color: $accent-color;
      @extend %rubick-500;
      font-weight: 600;
    }
  }
  &__input,
  &__btn-login,
  &__btn-register {
    display: block;
    margin-top: 15px;
    width: 470px;
    height: 60px;
  }
  &__input {
    border: 2px solid #f6f6f6;
  }
  &__help{
    width: 470px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid #f6f6f6;
    &-link {
      color: $accent-color;
      @extend %rubick-500;
      font-weight: 600;
    }
  }
  &__btn-login {
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    @extend %rubick-500;
    margin-bottom: 35px;
  }
  &__btn-register {
    border: 2px solid #a3bbc8;
    color: $accent-color;
    font-size: 18px;
    font-weight: 600;
    @extend %rubick-500;
    background-color: #fff;
  }
}