.top-slider{
  margin-top: 50px;
  &__inner {
    background-image: url(../images/slider/top-slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 65px;
  }
  &__item .container-main {
    display: flex;
  }
  &__title {
    margin: 220px 0 35px;
    @extend %rubick-500;
    font-size: 72px;
    line-height: 70px;
    width: 420px;
    color: #243f4d;
  }
  &__text {
    width: 370px;
    @extend %rubick-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__btn button {
    @extend %rubick-500;
    font-size: 15px;
    line-height: 12px;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 20px 100px 20px 30px;
  }
  &__btn {
    position: relative;
  }
  &__btn::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 9px;
    background-image: url(../images/slider/arrow.png);
    top: 5px;
    left: 160px;
  }
  &__image {
    margin: 100px 0 0 120px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    & button {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fde3cc;
    font-size: 11px;
    @extend %rubick-500;
    line-height: 9px;
    color: #708088;
    margin-left: 15px;
    }
    & .slick-active button {
      background-color: #fff;
    }
  }
}

@media (max-width: 1024px){
  .top {
    &-slider {
      &__image {
        margin: 175px 0 0 10px;
      }
    }
  }
}

@media (max-width: 768px){
  .top {
    &-slider {
      &__image {
        display: none;
      }
      &__content {
        text-align: center;
        width: 100%;
      }
      &__title {
        font-size: 60px;
        width: 100%;
        text-align: center;
        margin: 60px 0 35px;
      }
      &__text {
        width: 100%;
      }
      & .slick-dots {
        margin-top: 60px;
      }
    }
  }
}

@media (max-width:450px){
  .top {
    &-slider {
      &__title {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }
}