.articles {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    &__link {
      @extend %dmsans-700;
      font-size: 16px;
      color: $title-color;
      position: relative;
      padding-right: 20px;
      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 11px;
        background-image: url(../images/articles/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 6px;
        right: 0;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    background-color: #fff;
  }
  &__text {
    @extend %dmsans-400;
    font-weight: 500;
    font-size: 18px;
    color: #262626;
    padding: 30px 30px 0px;
    margin-bottom: 20px;
  }
  &__footer {
    padding: 20px 30px 25px;
    font-size: 12px;
    color: #262626;
    font-weight: 500;
    border-top:  1px solid #e0e0e0;
  }
  &__author {
    padding-left: 45px;
  }
  &__item-img {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/articles/NEWS.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 105px;
      height: 30px;
      bottom: -15px;
      left: 30px;
    }
  }
}